__pycache__/
*.py[cod]
/.idea
credentials/
.cache
.pytest_cache
venv/

# Distribution / packaging
.Python
env/
devenv/
build/
build/docs/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# ignore private keys
*.pem

# editors
.vscode/

tags
.mypy_cache/
