dist: xenial
sudo: true
language: python
python:
  - '3.6'

env:
  global:
    - TEST_TYPE=raiden_contracts
    - SOLC_URL='https://github.com/ethereum/solidity/releases/download/v0.4.25/solc-static-linux'
    - SOLC_VERSION='v0.4.25'

cache:
  pip: true
  directories:
    - $HOME/.cache/pip

before_install:
  - mkdir -p $HOME/.bin
  - export PATH=$PATH:$HOME/.bin
  - ./.travis/download_solc.sh

install:
  - pip install -U pip wheel coveralls "coverage<4.4"
  - pip install pytest-travis-fold
  - pip install -r requirements-dev.txt
  - pip install pytest-xdist pytest-sugar
  - python setup.py verify_contracts

before_script:
  - flake8 raiden_contracts/

script:
  - coverage run --source raiden_contracts/ -m py.test -Wd --travis-fold=always -n 2 -v $TEST_TYPE

deploy:
  provider: pypi
  skip_cleanup: true
  user: raiden_pypi_automated
  password:
    secure: "Lzq5jhpMQukBKLk+cdGS2JjJFwfmhdJT8tF2ZpHwaOLR5EDFtbdmAYu43Tg+GUB0AUaFrdaZ388opZHQjEBNmGbWrJRpbls7yfBjIksNAFQcwTUzk1AhQ1qwUZbeMATy3IE6VVrWka0ovO0Ey3eReOstCVYVrYvaa4ee0uQm3+Vrw8dIrKSgKH8OqaGFC0tH2ycFJlWk2i60fIDqsW+XlLzEVxL8oPzEcW6JtUPgSmkHP3Su/egyfHwckB/NvtS3qG/lPBhzHZKbH6BYyqucatX3e/gZRb0QYnM80nrBzMu7wo/J89WP6ZI6QQwgvW5VumbSbNEBNPqhf1qAuOE1UwgRk6qYuf8EXAhM2gjyWzvCZVDGu0vuBCaj+fscXkIN1wlLZyS1ocGnjyc3jJlG6mgCD8GlQska0uEsgEgrxJbAz3RIEb5GQ2a4jhcsHH5qHrBWGwAGKlYNnIbBHDZoP7cc2vBzHxYwPPizLG81NrvgQVTpaFOZu0+f5tWL3yAHNLiuwDktbj9hg+QtqVEBWE7efWkvw7/FRSMumX3TfFBeAW2UrG5gY2KJNPRmiL4MO1csM6c9gtYiVFAV5ByQjrZfpBmdcxXnItuQbZ731uKWLJZK+cbkDpbsbMAKkrUrpspoz0R+7YHEO6r6/uNgayFVNDQjEBEEg6rqGjrapZI="
  python: 3.6
  distributions: sdist bdist_wheel
  on:
    tags: true
    repo: raiden-network/raiden-contracts
    branch: master
