dist: trusty
sudo: true
language: generic


jobs:
  include:
    - language: python
      if: type = pull_request
      python: '3.6'
      env:
        - TEST_TYPE=raiden_contracts
        - SOLC_URL='https://github.com/ethereum/solidity/releases/download/v0.4.19/solc-static-linux'
        - SOLC_VERSION='v0.4.19'

      cache:
        pip: true
        directories:
          - $HOME/.cache/pip

      before_install:
            - mkdir -p $HOME/.bin
            - export PATH=$PATH:$HOME/.bin
            - ./.travis/download_solc.sh

      install:
        - pip install -U pip wheel coveralls "coverage<4.4"
        - pip install pytest-travis-fold
        - pip install flake8
        - pip install -r requirements.txt

      before_script:
        - flake8 raiden_contracts/

      script:
        - coverage run --source raiden_contracts/ -m py.test --travis-fold=always $TEST_TYPE
