include CHANGELOG.md
include requirements.txt
include raiden_contracts/constants.py
include raiden_contracts/data*/contracts.json
include raiden_contracts/data*/deployment_kovan.json
include raiden_contracts/data*/deployment_rinkeby.json
include raiden_contracts/data*/deployment_ropsten.json
include raiden_contracts/data*/deployment_mainnet.json
include raiden_contracts/data*/deployment_services_kovan.json
include raiden_contracts/data*/deployment_services_rinkeby.json
include raiden_contracts/data*/deployment_services_ropsten.json
recursive-include raiden_contracts/data*/source *
prune raiden_contracts/contracts
prune raiden_contracts/contracts_without_limits
prune raiden_contracts/contracts_template
