-r requirements.txt
black==21.11b0
eth-tester[py-evm]==0.5.0b4
coverage
pytest
pytest-cov
pytest-xdist
pyfakefs
flake8>=3.7.9
flake8-commas>=2.0.0
flake8-tuple>=0.4.1
flake8-bugbear>=20.1.2
attrs>=19.2.0
bump2version
requests
mypy==0.910
types-requests==2.26.0
pylint<2.12
pylint-quotes
requests_mock
isort==5.10.1
pipdeptree
six~=1.16
twine
wheel
